{
    "extends": "rallycoding",
    "rules": {
        "arrow-body-style": 0,
        "max-len": ["error", 300, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
          }],
        "camelcase": 0,
        "no-shadow": 0,
        "no-underscore-dangle": 0
    }
}
